
$theme-colors: (
  "primary": #8540F5,
  "secondary": #8A66CC,
  "light": #E0CFFC,
);




@import "../node_modules/bootstrap/scss/bootstrap";



@media only screen and (max-width: 480px) {
    .background-card {
      width: 375px;
      height: 667px;
    }
    #bigger-mobile-text {
      font-size: 25px;
    }
    #thedate{
      font-size: 20px !important;
      margin-top: 10px;
    }
    .card-title {
      
      font-size: 28px;
     
  }
  .card-header {
    max-width: 311px;
      align-self: center;
  }
  
  p#temp.text-dark {
    font-size: 60px;
    color: #272045;
    margin-top: -42px;
  }
  
  
  }
  
  @media only screen and (min-width: 800px) {
    .background-card {
      width: 600px;
    }
  }
  
  .background-card {
    background: linear-gradient(0deg, rgb(200, 114, 248) 0%, rgb(167, 130, 223) 46%, rgb(207, 195, 241) 100%);
    border-radius: 10px;
    border: 1px solid #fffffa;
  }
  
  .dark-background {
    background: linear-gradient(
      180.3deg,
      rgb(221, 221, 221) 5.5%,
      rgb(110, 136, 161) 90.2%
    );
    
  }
  .card {
    background-color: transparent;
  }
  .warm-background {
    background: linear-gradient(135deg, rgb(255, 168, 168) 10%, rgb(252, 255, 0) 100%);
  }
  
  #description {
    
    padding: 10px;
    color: #272045;
    width: max-content;
    border-radius: 15px;
    font-size: 18px;
    text-transform: capitalize;
  }
  
  .card-title {
    color: #6647ff;
    font-size: 35px;
    font-weight: 500;
    text-transform: lowercase;
    font-family: 'Martel Sans', sans-serif;
  
  }
  
  
  .card-title:first-letter {
    text-transform: uppercase;
  }
  
  .card-text {
    font-size: 40px;
    color: #272045;
  }
  
  .search-bar {
    border: transparent;
  }
  
  .card-header {
    
    border-radius: 20px;
    border: transparent;
  }
  
  .btn-search {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 8px 10px;
  }
  
  .bi-search:hover {
    color: #ebe1fa;
  }
  
  ul {
    list-style-type: none;
  }
  
  
  .row {
    margin: auto;
    margin-top: 50px;
  }
  
  .icon {
    width: 40%;
  }
  
  
  .card-header-warm {
    background-color: #FF8F8F !important;
    border-radius: 10px;
  }
  
  .image {
    height: 00px;
  }
  
  p#temp.text-dark{
    font-size: 60px;
    color: #272045;
  }
  
  .div-size{
    height: 60px;
    width: 80px;
    border: 1px solid;
    border-radius: 20px;
    background-color: #2C224D;
    text-align: center;
  }
  
  #thedate {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white; 
  align-content: center;
    
  }
  